<% content_for :title, "Infos perso" %>
<% content_for :meta_description, "Formulaire de modification"%>

<section class="flex flex-col section max-xl:p-4 p-14">
  <div class="flex flex-col w-full items-center">
    <div class="flex flex-col gap-2 bg-complementary rounded px-8 pt-6 pb-8 w-fit">

      <h1 class="text-3xl max-w-lg">Editer mes informations de connexion</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col gap-4" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex flex-col gap-0.5">
          <h2><%= f.label :email %></h2>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <h2><%= f.label "Mot de passe actuel" %></h2>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
        </div>

        <div class="field">
          <h2><%= f.label "Mot de passe"%></h2>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractéres min.</em>
          <% end %>
          <em>Laissez vide si vous ne voulez pas changer.</em>
          <%= f.password_field :password, autocomplete: "new-password", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
        </div>

        <div class="field">
          <h2><%= f.label "Confirmer le mot de passe" %></h2>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
        </div>

    
        <div class="actions btn_primary">
          <%= f.submit "Modifier" %>
        </div>
      <% end %>
    <div class="flex justify-between mt-10">
      <%= link_to "Retour", profil_path, class:"btn_primary" %>
      <div><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Vous êtes sûr ? Votre compte sera supprimé définitivement", turbo_confirm: "Vous êtes sûr ? Votre compte sera supprimé définitivement" }, method: :delete, class:"btn_danger" %></div>
    </div>
    </div>
  </div>
</section>
