<section class="p-14 flex flex-col gap-6">
    <h1 class="text-3xl">Mes annonces</h1>
  
  <div>
    <div class="flex flex-col gap-4">
      <% if @user_offers.present? %>
        <% @user_offers.each do |offer| %>
          <div class="bg-complementary p-4 rounded flex justify-between max-sm:flex-col-reverse max-sm:gap-3">
            <div class="flex flex-col gap-2">
              <h2 class="text-2xl"><%= offer.title %></h2>
              <h3 class="font-bold text-1xl">
                      <%= offer.price %> €
                    </h3>
              <%= link_to "Voir la trouvaille", offer_path(offer), class:"btn_primary"%>
            </div>
            <div class="flex flex-col justify-between items-end max-sm:gap-2 max-sm:items-start max-sm:flex-row">
              <div class="h-fit flex gap-1 items-center rounded-full py-1 px-2 border w-min border-secondary">
                  <h5 class="text-xs font-semibold"><%= offer.type_offer.type_offer %></h5>
                </div>
              <p class="text-xs italic text-end"><%= offer.created_at.strftime('%d/%m/%Y') %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez aucune annonce pour le moment.</p>
         <%= link_to "Publier une annonce", new_offer_path, class: "btn_primary" %>
      <% end %>
    </div>
  </div>
</section>

