<% content_for :title, "Mes offres" %>
<% content_for :meta_description, "Page mes offres"%>

<section class="mt-6 mb-6 p-12 flex flex-col gap-6 max-md:p-4 max-w-screen-2xl w-full max-sm:p-6 max-sm:mt-0 self-center">
    <h1 class="text-3xl">Mes annonces</h1>
  <div class="w-full">
    <div class="flex flex-col gap-4">
      <% if user_offers.present? %>
        <% user_offers.each do |offer| %>
          <div class="bg-complementary p-4 rounded flex justify-between max-sm:flex-col-reverse max-sm:gap-3">
            <div class="flex gap-6 w-full max-sm:flex-col">
              <%if offer.type_offer.type_offer == "Service"%>
                <div class="group relative h-64 w-64 flex justify-center max-sm:w-full">
                
                  <% if offer.user.profile_picture.attached? %>
                    <div class="max-sm:w-auto">
                        <%= image_tag offer.user.profile_picture, alt: 'profil_picture_user', class: "w-full h-full rounded-lg object-cover" %>
                    </div>
                    <%else%>
                    <div class="max-sm:w-auto">
                      <img src="<%= asset_path('logo/symbole_logo.svg')%>" alt="Logo Patte à patte" class="w-full h-full rounded-lg object-cover">
                    </div>
                    <%end%>
                </div>
                  <% elsif offer.image.attached? %>
                  <div class="group relative h-64 w-64 flex justify-center max-sm:w-full">
                  <%= link_to offer_path(offer), class:"w-full" do %>
                    <%= image_tag offer.image, alt: 'image', class: "w-full h-full rounded-lg object-cover" %>
                  <%end%>
                  </div> 
              <% end %>
              <div class="flex flex-col gap-2">
              <h2 class="text-2xl"><%= offer.title %></h2>
              <h3 class="font-bold text-1xl">
                      <%= offer.price %> €
                    </h3>
              <%= link_to "Voir l'annonce", offer_path(offer), class:"btn_primary"%>
            </div>
            </div>
            <div class="flex flex-col justify-between items-end max-sm:gap-2 max-sm:items-start max-sm:flex-row">
              <div class="h-fit flex gap-1 items-center rounded-full py-1 px-2 border w-min border-secondary">
                  <h5 class="text-xs font-semibold"><%= offer.type_offer.type_offer %></h5>
                </div>
                <div>
                  <p class="text-xs italic text-end"><%= offer.created_at.strftime('%d/%m/%Y') %></p>
                  <div class="w-max min-h-fit">
                    <%= link_to "Supprimer l'annonce", offer, data: {turbo_method: :delete}, class: "underline" %>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Vous n'avez pas d'annonces pour le moment.</p>
        <a href="<%=vente_offers_path%>" class="btn_primary">Explorez</a>
      <% end %>
    </div>
  </div>
</section>

