<h1>profil</h1>
<section class="profile-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center profile-image">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, class: "img-fluid rounded-circle", alt: "Photo de profil" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="profile-info">
          <h2 class="profile-heading">Informations de profil</h2>
          <ul class="profile-info-list">
            <li>
              <span class="fw-bold">Nom :</span> <%= @user.first_name %> <%= @user.last_name %>
            </li>
            <li>
              <span class="fw-bold">Email :</span> <%= @user.email %>
            </li>
            <% if @user.description.present? %>
            <li>
              <span class="fw-bold">Description :</span> <%= @user.description %>
            </li>
            <% end %>
            <!-- Ajoutez ici d'autres éléments d'information -->
          </ul>
          <%= link_to "Modifier mon profil", edit_user_path(@user), class: "btn btn_primary" %>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="profile-orders">
          <h2 class="profile-heading">Commandes passées</h2>
          <p class="text-muted">Vous n'avez pas encore passé de commandes.</p>
          <!-- Ajoutez ici la logique pour afficher les commandes passées -->
        </div>
      </div>
    </div>
</section>