<section>
  <h1>Informations publiques</h1>
  <div class="flex gap-3">
    <div>
    <% if @user.profile_picture.attached? %>
      <%= image_tag @user.profile_picture, alt: "Photo de profil" %>
    <% end %>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-2">
        <h2><%=@user.first_name%> <%=@user.last_name%>
        <p><%=@user.description%>
      </div>
      <%= link_to "Modifier mon profil", edit_user_path(@user), class: "btn_primary" %>
    </div>
    <%# <div class="bg-primary rounded p-12">
      <h2 class="white">Mes animaux</h2>
      <div>
        <%=@pet.profile_picture, alt: "Photo de profil"%>
        <%# <%=@pet.first_name%>
        <%# <%=@pet.age%>
      <%# </div>
    </div> %>
    <div>
</section>

<section>
  <h1>Informations publiques</h1>
  <div>
     <%= form_for @user, html: {class: 'needs-validation'} do |f| %>
      <div class="container_form_element">
        <%= f.label :email, "Email", class: 'label' %>
        <%= f.email_field :email, class: 'form-control input' %>
      </div>
    <%end%>
    <%# à faire : partie informations privées lorsqu'elles y seront%>
  </div>
</section>

<section>
  <div>
    <h1>Mes favoris</h1>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>  
        </svg>
    </div>
</div>
</section>