<% content_for :title, "Panier" %>
<% content_for :meta_description, "Page du panier de l'utilisateur"%>

<section class="mt-6 mb-6 p-12 max-sm:px-6 flex flex-col gap-6 max-w-screen-2xl self-center w-full">
    <div class="all flex flex-col gap-6">
        <h1 class="text-3xl">Mes trouvailles</h1>
        <div class=container_cart_informations_paiements>
                <div class="cart_container">
                    <%if @cart.offers && @cart.offers.length > 0%>
                        <%@cart.offers.each do |offer|%>
                            <div class="cart_container_offer background_card flex justify-between">
                                <div class=cart_container_offer>
                                    <%if offer.image.present?%>
                                        <div class="h-32 w-32 rounded overflow-hidden">
                                            <%= image_tag(offer.image, class:"w-full h-full object-cover") %>
                                        </div>
                                    <%end%>
                                        <div class="flex flex-col gap-3 justify-between">
                                            <h2 class="margin_bottom"><%= offer.title%></h2>
                                            <%= link_to "Voir la trouvaille", offer_path(offer), class:"btn_primary"%>
                                        </div>
                                </div>
                                    <div class="cart_price_offer flex flex-col gap-3 items-end justify-between">
                                        <p><b><%= offer.price%> €</b></p>
                                        <%= button_to offer_cart_offer_path(offer.id), method: :delete,  class: 'bg-secondary p-2 w-fi rounded-full icone_svg' do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="svg bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        <% end %>
                                    </div>

                            </div>
                        <%end%>
                </div>
                        <div class=container-total>
                            <h1 class="white text-2xl">Détails de la commande</h1>
                            <div class="separator_white">
                            </div>
                            <div class=detail-total-order>
                                <div class=cart_informations-paiement>
                                    <p>Sous-total</p>
                                    <div class=cart_price_informations-paiements>
                                        <p><%= total_price(@cart)%> €</p>
                                    </div>
                                </div>
                                <div class=cart_informations-paiement>
                                    <p>Frais de livraison</p>
                                    <div class=cart_price_informations-paiements>
                                        Gratuite
                                    </div>
                                </div>
                                <div class=cart_informations-paiement>
                                    <p>Frais de services</p>
                                    <div class=cart_price_informations-paiements>
                                        <p><%= number_with_precision(services_charges(@cart), precision: 2) %> €</p>
                                    </div>
                                </div>
                            </div>
                            <div class=container_total_order>
                                <div class=cart_total-order>
                                    <h1 class="white text-2xl">Total de la commande</h1>
                                    <div class=separator_white>
                                    </div>
                                    <div class=cart_price_total_offer>
                                        <h2><%= number_with_precision(total_price(@cart) + services_charges(@cart), precision: 2) %> €</h2>
                                    </div>
                                </div>
                                <div>
                                    <%= button_to "Finaliser la commande", checkout_create_path(total: total_price(@cart) + services_charges(@cart), cart_id: @cart.id), class: "btn_secondary", data: {turbo: false} %>
                                </div>
                            </div>
                        </div>
                    <%else%>
                    <p> Aucun article dans le panier pour le moment </p>
                    <%end%>
        </div>
    </div>
</section>