<% content_for :title, "Connexion" %>
<% content_for :meta_description, "Page de connexion"%> 

<section class="flex flex-col section">
  <div class="flex flex-col w-full items-center mt-20">
    <div class="flex flex-col gap-2 bg-complementary rounded px-8 pt-6 pb-8">
      <h1 class="text-3xl">Se connecter</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col gap-4" }) do |f| %>
          <div class="flex flex-col gap-0.5">
            <h2><%= f.label :email %></h2>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
          </div>

          <div class="flex flex-col gap-0.5">
            <h2><%= f.label :password %></h2>
            <%= f.password_field :password, autocomplete: "current-password", class:"input border-transparent focus:border-0 appearance-none rounded w-full py-2 px-3 leading-tight" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex gap-1 items-center">
              <%= f.check_box :remember_me, class:"rounded focus:ring-0" %>
              <h2><%= f.label :remember_me %></h2>
            </div>
          <% end %>
              <div class="actions btn_primary">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
        <div class="underline text-xs flex flex-col gap-2 mt-2"><%= render "devise/shared/links" %></div>
        </div>
    </div>
  </div>
</section>
