<% if user_signed_in? %>
  <div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Laisser un commentaire</h2>
      <%= form_with(model: [@offer, @offer.comments.build], local: true) do |form| %>
        <div class="mb-4">
          <%= form.label :title, class: 'block text-sm font-semibold text-gray-900' %>
          <%= form.text_field :title, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', placeholder: "Titre du commentaire" %>
        </div>
        <div class="mb-4">
          <%= form.label :content, class: 'block text-sm font-semibold text-gray-900' %>
          <%= form.text_area :content, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', placeholder: "Votre commentaire ici" %>
        </div>
        <%= form.submit "Poster", class: 'w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500' %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-muted">Connectez-vous pour laisser un commentaire.</p>
<% end %>

<% if @offer.comments.any? %>
  <div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Commentaires</h2>
      <% @offer.comments.each do |comment| %>
        <div class="border-b border-gray-200 pb-4 mb-4">
          <h5 class="text-lg font-semibold"><%= comment.title %></h5>
          <p class="text-gray-700"><%= comment.content %></p>
          <% if comment.user %>
            <small class="text-gray-500">
              Posté par <%= comment.user.email %> 
              <% if comment.created_at.present? %>
                le <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %>
              <% end %>
            </small>
          <% else %>
            <small class="text-gray-500">
              Posté 
              <% if comment.created_at.present? %>
                le <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %>
              <% end %>
            </small>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>