    <section class="mt-12 p-14 flex flex-col gap-6 max-xl:p-4 items-center">
    <div class="flex gap-3 justify-center max-sm:flex-col max-sm:items-center max-w-max">
      <div class="flex flex-col items-center">
      <% if @offer.user.profile_picture.attached? %>
        <div class="w-3/5 h-96 rounded max-sm:w-full">
            <%= image_tag @offer.user.profile_picture, alt: 'profil_picture_user', class: "w-full h-full object-cover rounded" %>
        </div>
        <%else%>
          <img src="<%= asset_path('logo/symbole_logo.svg')%>" alt="Logo Patte à patte" class="h-72 w-72">
        <%end%>
        <h2 class="text-2xl mt-2"><%= @offer.user.first_name%> <%= @offer.user.first_name%></h2>
      </div>
      <div class="p-6 flex flex-col gap-6 max-sm:w-full">
        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-3">
              <div class="flex justify-between gap-3">
                <h1 class="text-3xl"><%= @offer.title %></h1>
                
              </div>
              <div>
                <p class="text-xs">Tarif <%= @offer.price_type %></h2></p>
                <h2 class="text-2xl"><%= @offer.price %>€</h2>
              </div>
            </div>
            <p><%= @offer.description %></p>
            <%= link_to "Voir le profil de #{@offer.user.first_name}", offer_user_path(@offer), class:"underline"%>
              <div class="flex gap-3">
                <% if user_signed_in? %>
                  <div class="flex gap-3 justify-between w-full"> 
                    <%= button_to "Contacter", offer_cart_offers_path(@offer.id), method: :post, class: "btn_primary" %>
                    <div>
                      <% if @offer.likes.find_by(user: current_user) %>
                        <%= button_to unlike_offer_path(@offer), method: :delete, class: "bg-secondary p-2 w-fi rounded-full arrow_icon" do %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                          </svg>
                        <% end %>
                      <% else %>
                        <%= button_to like_offer_path(@offer), method: :post, class: "bg-secondary p-2 w-fi rounded-full arrow_icon" do %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                          </svg>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
            </div>
        </div>

        <div class="flex flex-col gap-3">
          <h3 class="font-bold text-lg">Caractéristiques<h3>
            <div class="flex flex-col gap-1">
              <h4 class="italic text-xs">Type d'animal</h4>
              <h5 class=font-semibold><%= @offer.type_animal %></h5>
            </div>
        </div>

        <%# Rajouter livraison et les autres caractéristiques %>

          <% if current_user == @offer.user %>
              <div class="flex gap-3 w-full justify-end">
                <div class="w-max h-fit">
                  <%= link_to "Modifier l'annonce", edit_offer_path(@offer), class: "btn_secondary" %>
                </div>
                <div class="w-max h-fit">
                  <%= link_to "Supprimer l'annonce", @offer, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette annonce ?" }, class: "btn_danger" %>
                </div>
              </div>
          <% end %>


      </div>
    </div>
</section>