<div class="container mx-auto mt-8">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <% if @offer.image.attached? %>
      <div class="w-full h-64">
        <%= link_to @offer do %>
          <%= image_tag @offer.image, alt: 'image', class: "w-full h-full object-cover" %>
        <% end %>
      </div>
    <% end %>
    <div class="p-6">
      <h1 class="text-3xl font-bold mb-2"><%= @offer.title %></h1>
      <p class="text-gray-700 mb-4"><%= @offer.description %></p>
      <p class="text-xl text-gray-900 font-semibold mb-4"><%= number_to_currency(@offer.price, unit: "€") %></p>
      <p class="text-gray-600 mb-4">Type d'animal: <%= @offer.type_animal %></p>
      <p class="text-gray-600 mb-4">Date de publication: <%= @offer.created_at.strftime('%d/%m/%y') %></p>
      <p class="font-semibold mb-2">Nombre de likes: <%= @offer.likes.count %></p>
      <ul class="list-disc pl-5 mb-4">
        <% @offer.likes.each do |like| %>
          <li><%= "#{like.user.first_name} #{like.user.last_name}" %></li>
        <% end %>
      </ul>
      <div class="mb-4">
        <% if @offer.likes.find_by(user: current_user) %>
          <%= button_to "Déliker", unlike_offer_path(@offer), method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-400" %>
        <% else %>
          <%= button_to "Liker", like_offer_path(@offer), method: :post, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400" %>
        <% end %>
      </div>
    </div>
  </div>
</div>