<section class="mt-12 p-14 flex flex-col gap-6 max-xl:p-4">
    <div class="flex gap-3 max-sm:flex-col max-sm:items-center">
      <% if @offer.image.attached? %>
        <div class="w-3/5 h-96 rounded max-sm:w-full">
          <%= link_to @offer do %>
            <%= image_tag @offer.image, alt: 'image', class: "w-full h-full object-cover rounded" %>
          <% end %>
        </div>
      <% end %>
      <div class="w-2/5 p-6 flex flex-col gap-6 max-sm:w-full">
        <div class="flex flex-col gap-3">
            <div>
              <p><%= @offer.created_at.strftime('%d/%m/%y') %></p>
              <h1 class="text-3xl"><%= @offer.title %></h1>
              <h2 class="text-2xl"><%= number_to_currency(@offer.price, unit: "€") %></h2>
            </div>
            <p><%= @offer.description %></p>
            <%= link_to "Voir le profil du vendeur", offer_user_path(@offer), class:"underline"%>
              <div class="flex gap-3">
                <% if user_signed_in? %>
                  <div> 
                    <%= button_to "Ajouter au panier", offer_cart_offers_path(@offer.id), method: :post, class: "btn_primary" %>
                  </div>
                <% end %>
            </div>
        </div>

        <div class="flex flex-col gap-3">
          <h3 class="font-bold text-lg">Caractéristiques<h3>
            <div class="flex flex-col gap-1">
              <h4 class="italic text-xs">Type d'animal</h4>
              <h5 class=font-semibold><%= @offer.type_animal %></h5>
            </div>
        </div>

        <%# Rajouter livraison et les autres caractéristiques %>

      </div>
    </div>
</section>