<div class="title_h">
        <h1>Les annonces du moment </h1>
        <div class=underlining_title>
        </div>
    </div>
<br>
<section class="collection">
    <div class="container">
      <div class="row">
        <% @offers.each do |offer| %>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3 p-3 section_collection">
               <% if offer.image.attached? %>
                <div class="container_image_product">
                  <%= link_to offer do %>
                    <%= image_tag offer.image, alt: 'image', class: "image_product img-fluid" %>
                  <%end%>
                </div>
              <% end %>
            <div class=gap_container_info_item>
              <div class=container_infos_left_item>
                <h2><%= offer.title %></h2>
                <p><%= offer.description %></p>
              </div>
              <div>
                <p class="price_total_offer"><%= offer.price %> €</p>
              </div>
            </div>
            <% if user_signed_in? %>
                  <%= button_to "Ajouter au panier"%><%#, offer_cart_offers_path(offer.id), method: :post, class: "btn btn_primary" %>
                <% end %>
          </div>
        <% end %>
    </div>
</section>
