<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mb-4 border-0">

         <% if @offer.image.attached? %> 
           <div class="container_image_product_show"> 
             <%= link_to @offer do %> 
               <%= image_tag @offer.image, alt: 'image', class: "image_product_show img-fluid" %> 
             <% end %> 
           </div> 
         <% end %> 


        <div class="card-body">
          <h1 class="card-title"><%= @offer.title %></h1>
          <p class="card-text"><%= @offer.description %></p>
          <p class="card-text"><small class="text-body-secondary"><%= number_to_currency(@offer.price, unit: "€") %></small></p>
          <p class="card-text">Type d'animal: <%= @offer.type_animal %></p>
          <p class="card-text">Date de publication: <%= @offer.created_at.strftime('%d'"/"'%m'"/"'%y') %></p>
        </div>
        <% if user_signed_in? %>
          <%= button_to "Ajouter au panier"%><%#,offer_cart_offers_path(@offer.id), method: :post, class: "btn btn_primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-lg-4 d-flex justify-content-between">
  <%= link_to 'Retour à la liste', offers_path %>
      <%= link_to 'Modifier', edit_offer_path(@offer) %>
      <%= button_to 'Supprimer', "/offers/#{@offer.id}", method: :delete, class:"btn btn_primary"%>
<div>