<div class="container mx-auto mt-8">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <% if @offer.image.attached? %>
      <div class="w-full h-64">
        <%= link_to @offer do %>
          <%= image_tag @offer.image, alt: 'image', class: "w-full h-full object-cover" %>
        <% end %>
      </div>
    <% end %>
    <div class="p-6">
      <h1 class="text-3xl font-bold mb-2"><%= @offer.title %></h1>
      <p class="text-gray-700 mb-4"><%= @offer.description %></p>
      <p class="text-xl text-gray-900 font-semibold mb-4"><%= number_to_currency(@offer.price, unit: "€") %></p>
      <p class="text-gray-600 mb-4">Type d'animal: <%= @offer.type_animal %></p>
      <p class="text-gray-600 mb-4">Date de publication: <%= @offer.created_at.strftime('%d/%m/%y') %></p>
      <p class="font-semibold mb-2">Nombre de likes: <%= @offer.likes.count %></p>
      <ul class="list-disc pl-5 mb-4">
        <% @offer.likes.each do |like| %>
          <li><%= "#{like.user.first_name} #{like.user.last_name}" %></li>
        <% end %>
      </ul>
      <div class="mb-4">
        <% if @offer.likes.find_by(user: current_user) %>
          <%= button_to "Déliker", unlike_offer_path(@offer), method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded hover:bg-red-400" %>
        <% else %>
          <%= button_to "Liker", like_offer_path(@offer), method: :post, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Laisser un commentaire</h2>
      <%= form_with(model: [@offer, @offer.comments.build], local: true) do |form| %>
        <div class="mb-4">
          <%= form.label :title, class: 'block text-sm font-semibold text-gray-900' %>
          <%= form.text_field :title, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', placeholder: "Titre du commentaire" %>
        </div>
        <div class="mb-4">
          <%= form.label :content, class: 'block text-sm font-semibold text-gray-900' %>
          <%= form.text_area :content, class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', placeholder: "Votre commentaire ici" %>
        </div>
        <%= form.submit "Poster", class: 'w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-500' %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="text-muted">Connectez-vous pour laisser un commentaire.</p>
<% end %>

<% if @offer.comments.any? %>
  <div class="container mx-auto mt-8">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Commentaires</h2>
      <% @offer.comments.each do |comment| %>
        <div class="border-b border-gray-200 pb-4 mb-4">
          <h5 class="text-lg font-semibold"><%= comment.title %></h5>
          <p class="text-gray-700"><%= comment.content %></p>
          <% if comment.user %>
            <small class="text-gray-500">
              Posté par <%= comment.user.email %> 
              <% if comment.created_at.present? %>
                le <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %>
              <% end %>
            </small>
          <% else %>
            <small class="text-gray-500">
              Posté 
              <% if comment.created_at.present? %>
                le <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %>
              <% end %>
            </small>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
